<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="15.0" DefaultTargets="Publish" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProfile>win-arm64.pubxml</PublishProfile>
  </PropertyGroup>

  <Import Project="$(MSBuildThisFileDirectory)\.nuget\NuGet.Cpp.props" Condition="Exists('$(MSBuildThisFileDirectory)\.nuget\NuGet.Cpp.props')" />
  <Import Project="$(VCTargetsPath)\Microsoft.Cpp.props" />

  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>ARM64</Platform>
    <PublishDir>$(MSBuildThisFileDirectory)publish\win-arm64\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <RuntimeIdentifier>win-arm64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <PublishReadyToRun>true</PublishReadyToRun>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <WindowsPackageType>None</WindowsPackageType>
  </PropertyGroup>

  <ItemGroup>
    <ProjectReference Include="Rectangle.Windows.WinUI.Cpp.vcxproj" />
  </ItemGroup>

  <Import Project="$(MSBuildThisFileDirectory)\Microsoft.Cpp.targets" />
</Project>
